# The uv venv.
/.venv/

# Python bytecode.
__pycache__/

# Sphinx doc site (html) builds are generated here.
/docs/build/

# Our dev-cmds are setup to output artifacts here by default.
/dist/

# Our Sphinx extension (see: docs/_ext/) dynamically generates doc sources here.
/docs/_/

# Various files are copied from the project root to here for building docker images.
/scripts/docker/ephemeral-build-context/

