# The uv venv.
/.venv/

# Python bytecode.
__pycache__/

# We copy files from elseshwere in the project here just in time for use in docker image builds.
/docker/ephemeral-context/

# Sphinx doc site (html) builds are generated here.
/docs/build/

# Our dev-cmds are setup to output artifacts here by default.
/dist/

# Our Sphinx extension (see: docs/_ext/) dynamically generates doc sources here.
/docs/_/
