[lift]
# Name can be over-ridden with `science lift --app-name ...` which we do when producing "fat" scies.
name = "science"
# We do this here and dogfood ourselves!
description = "Ship your interpreted executables using science."

[[lift.interpreters]]
id = "cpython"
provider = "PythonBuildStandalone"

release = "20260203"
version = "3.14.3"
flavor = "install_only_stripped"

# By default, science ships as a "thin" scie that fetches CPython 3.14 on first run.
# We use `science lift --invert-lazy cpython ...` when producing "fat" scies.
lazy = true

[[lift.files]]
# This is pointed at the output of the sphinx htm doc gen to produce a zip of the static html site
# using `science lift --file docsite=docs/build/html ...`.
name = "docsite"

[[lift.files]]
# The dev-cmd build emits this at `dist/science.pyz` and so our packaging process maps
# that path using `science lift --file science.pyz=dist/science.pyz ...`.
name = "science.pyz"

[[lift.commands]]
# This selects the `python` binary from within the CPython 3.14 interpreter distribution
# (a tarball) provided by PythonBuildStandalone above.
exe = "#{cpython:python}"
args = [
    "{science.pyz}",
]

[lift.commands.env]
# We strip any ambient SHIV_* env vars and set the SHIV_ROOT to ensure hermetic operation. Although
# `science` is a Python 3.14 shiv zipapp application under the covers; this should be opaque to the
# end user. For their puposes `science` is just a native binary.
remove_re = [
    "SHIV_.*",
]
[lift.commands.env.replace]
SHIV_ROOT = "{scie.bindings}/shiv_root"
SCIENCE_DOC_LOCAL = "{docsite}"
__SCIENCE_CURRENT_PLATFORM__ = "{scie.platform}"
