name: CI
on: [push, pull_request]
defaults:
  run:
    shell: bash
concurrency:
  group: CI-${{ github.ref }}
  # Queue on all branches and tags, but only cancel overlapping PR burns.
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' || !startsWith(github.ref, 'refs/tags/') }}
jobs:
  org-check:
    name: Check GitHub Organization
    if: github.repository_owner == 'a-scie'
    runs-on: ubuntu-20.04
    steps:
      - name: Noop
        run: "true"
  ci:
    name: (${{ matrix.os }}) CI
    needs: org-check
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, macos-11, macos-13-aarch64, windows-2022]
    steps:
      - name: Setup Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
          cache: pip
      - name: Setup Nox
        run: pip install nox
      - name: Checkout Lift
        uses: actions/checkout@v3
      - name: Check Formatting & Lints
        run: nox -e lint
      - name: Unit Tests
        run: nox -e test
      - name: Build & Package
        run: nox -e package
